* {
    margin: 0;
    padding: 0;
}

.header {
    position: relative;
    top: 0;
    display: flex;
    direction: ltr;
    height: 150px;
    padding: 5px;
    align-items: center;
    box-shadow: 0 2px #888888;
    background-color: #696969;
}
.header div {
    width: 15%;
    height: 150px;
    background: transparent;
    text-align: center;
    border: 1px solid #696969;
}

#logo {
    position: relative;
    top: 30%;
    width: 80%;
    margin: 0 auto;
    height: 70px;
    vertical-align: middle;
    background-color: rgb(134, 125, 125);
}

.header h1 {
    margin: 0 auto;
    width: 60%;
    height: 30px;
    background-color: #353030;
    margin-bottom: 8px;
}

.header p {
    margin: 0 auto;
    width: 80%;
    height: 20px;
    background-color: #353030;
}

.header-icons {
    margin: 0 auto;
    margin-top: 30px;
    background-color: #353030 !important;
    width: 80%;
    height: 35px !important;
    margin-bottom: 10px;
}

#topics {
    position: relative;
    top: 30%;
    width: 55%;
    margin: 0 auto;
    height: 60px;
    vertical-align: middle;
    background-color: rgb(134, 125, 125);
}

.main-top{
  text-align: center;
  background-color: #555;


}

.box{
  float: left;
  width: 50%;
  height: 500px;
}

div #box-one{
  background-color: #333;
  


}

div #box-two{
  background-color: #444;
  ;

}

#box-three{
  background-color: #111;
  ;

}

#box-four{
  background-color: #222;

}

#main-posts{
    padding: 0 40px;
}

.posts-items{
    float: left;
    width: 25%;
    height: 650px;
    padding: 40px 0;
}

.posts-items-big{
    float: left;
    width: 50%;
    height: 650px;
    padding: 40px 0;
    margin-bottom: 40px;
    border-radius: 20px;
    background-color: #888888;
}

.posts-items-big h1 {
    background-color: #444;
    height: 100px;
    margin: 0 auto;
    margin-top: 180px;
    width: 50%;
}

.posts-items-big :nth-child(2){
    background-color: #666;
    height: 180px;
    margin: 0 auto;
    margin-top: 30px;
    width: 60%;
}

.posts-items-big p{
    background-color: #666;
    height: 20px;
    margin: 0 auto;
    margin-top: 30px;
    width: 35%;
}

.posts-items-big div {
    background-color: #666;
    height: 60px;
    margin: 0 auto;
    margin-top: 30px;
    width: 35%;
    border-radius: 8px;
}

.posts-items h1 {
    background-color: #444;
    height: 70px;
    margin: 0 auto;
    width: 80%;
}

.posts-items p{
    background-color: #666;
    height: 330px;
    margin: 0 auto;
    margin-top: 25px;
    width: 80%;
}

.posts-items span {
    display: block;
    margin-top: 25px;
    margin-left: 38px; 
    background-color: #555555;
    height: 20px;
    width: 50%;
}

.posts-items div {
    margin: 0 auto;
    margin-top: 40px;
    background-color: #555555;
    height: 300px;
    width: 80%;
    border-radius: 10px;
}

.clear {
    clear: both;
}
